<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Unread posts</th>
      <th>Total number posts</th>
    
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% if post.comment_id == nil %>
      <tr>
          <td><%= link_to post.title, post%></td>
          <td><%= post.author %></td>
          <td></td>
          <td></td>

        </tr>
        <% end %>
     <% end %>
     </tbody>
     </table>

  <br>

<%= link_to 'Create Thread', new_post_path %>
